
body {
  min-width: 200px;
  max-width: 640px;
  display: flex;
  justify-content: center;
  background-image: url("images/campsite-tent-night.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #1f1f7a;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#locationshourstable {
  /* style for the public page locations & hours */
}

#socialmedia>img {
  width: 100px;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 400%;
  color: #ffffff;
  font-weight: normal;
  /*opacity: 0.5;*/
  /*background-color: white;*/
}

#maininfo {
}


/* BELOW HERE IS EARLIER WORK FOR PRIVATE FORMS PAGE */

/*

body {
  background-color: white;
  color: black;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  empty-cells: show;
}

table {
  background-color: #4d79ff;
  border-radius: 5px;
}

tr {
  background-color: #4d79ff;
  padding: 2px 5px;
  color: #ffffff;
}

tr.hover {
  background-color: #4d79ff;
}

th {
  background-color: #4d79ff;
  padding: 2px 5px 2px 5px;
  text-align: left;
  color: #ffffff;
}

td {
  background-color: #ffffff;
  padding: 2px 5px;
  color: black;
}

div {
  margin: 10px;
  padding: 10px;
}

form {
  background-color: #808080;
  padding: 30px 10px 15px 10px;
  border-radius: 5px;
  width: 500px;
  color: white;
}

input {
  margin: 4px;
  text-align: right;
}

.submitbutton {
  text-align: right;
  padding-right: 40px;
}

.formtext {
  float: left;
  text-align: right;
  width: 325px;
  font-size: 14px;
  padding: 4px 10px 0px 4px;
}

*/
