
body {
  /*min-width: 200px;
  max-width: 640px;*/
  /*display: flex;
  justify-content: center;*/
  background-image: url("images/campsite-tent-night.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  /*background-size: cover;*/
  background-size: contain;
  background-color: #333333;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}

/*img.bg {
min-height: 100%;
min-width: 1024px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
}*/

main {
  min-width: 200px;
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
}

h1 {
  max-width: 800px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 655%;
  color: #ffffff;
  font-weight: normal;
  /*width: 100%;*/
  /*font-size: 6vw;*/
  /*opacity: 0.5;*/
  /*background-color: white;*/
}

h2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 300%;
  color: #ffffff;
  font-weight: normal;
}

h3 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 200%;
  color: #ffffff;
  font-weight: normal;
}

footer {
  display: flex;
  justify-content: center;
}

#maininfo {
  display: flex;
  justify-content: space-between;
  background-color: #666666;
}

#aboutus {
  display: flex;
  justify-content: space-between;
  background-color: #555555;
}

#aboutcoffee {
  display: flex;
  justify-content: space-between;
  background-color: #666666;
}

#blog {
  /*display: flex;
  justify-content: space-between;*/
  background-color: #555555;
}

#blogcontent {
  display: flex;
  justify-content: space-between;
}

#locationshourstable {
  /* style for the public page locations & hours */
}

#socialmedia {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/*#socialmedia>img {
  width: 100px;
}*/

.socialimg {
  width: 100px;
}

.imagecontainer {
  width: 50%
}

.about {
  width: 50%;
}

.photograph {
  width: 100%;
}

/*#aboutusimg {
  width: 100%;
}*/

/*#aboutcoffeeimg {
  width: 100%;
}*/

/*#blogimage {
  width: 100%;
}*/

/*#aboutuscontainer {

}*/

/*#aboutcoffeecontainer {

}*/

/*.blogpost {

}*/
